html, body {
    height: 100%;
    margin: 0;
}

core-scroll-header-panel {
    height: 100%;
}

core-toolbar {
    background-color: #cddc39;
}

#drawer-content {
    background-color: #ffffff;
    height:100%;
}

paper-item {
    background-color:#dddddd;
    
}

.menu-link {
    color:#444444;
    text-decoration: none;
}

.menu-link:visited {
    color:#444444;
    text-decoration: none;
}

.menu-link:active {
    color:#444444;
    text-decoration: none;
}

.menu-link:hover {
    color:#444444;
    text-decoration: none;
}

#logo {
    border: none;
    width:400px;
    max-width: 70%;
}