html, body {
    height: 100%;
    margin: 0;
}

core-scroll-header-panel {
    height: 100%;
}

core-toolbar {
    background-color: #cddc39;
}

#logo {
    border: none;
    width:400px;
    max-width:70%;
}