<footer class="site-footer">

  <div id="footer">
    <div class="wrapper">
      <div style="padding-top:10px;width:50%;min-width:300px;float:left;">
        <p><b>{{ site.title }}</b></p>
        <p>{{ site.description }}</p>
      </div>
      <div style="padding-top:10px;width:50%;min-width:300px;float:left;">
        <p><b>Links</b></p>
        <p>
          <paper-button label="youtube" onclick="window.open('https://www.youtube.com/user/salendron','_blank')">
            <core-icon icon="social:post-youtube"></core-icon>&nbsp;&nbsp;Youtube Channel
          </paper-button>
          <br />
          <paper-button label="github" onclick="window.open('https://github.com/salendron/','_blank')">
            <core-icon icon="social:post-github"></core-icon>&nbsp;&nbsp;GitHub
          </paper-button>
        </p>
      </div>
      <p class="rss-subscribe"><b>subscribe via</b> <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><u class="white">RSS</u></a></p>
    </div>
  </div>
</footer>
